body {
}

textarea:focus, input:focus {
    outline: none;
}

#menu_toggle {
    color: #fefefe;
    text-shadow: 1px 2px 1px rgba(42, 63, 64, 1);
}

    #menu_toggle:hover {
        color: #ddd;
    }

/*a {
    color: #fefefe;
}*/

.top_nav .nav .open > a, .top_nav .nav .open > a, .top_nav .nav .open > a, .top_nav .nav > li > a, .top_nav .nav > li > a {
    text-shadow: 1px 2px 1px rgba(42, 63, 64, 1);
    color: #fefefe !important;
}

    .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover, .top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover {
        background: rgba(42, 63, 64, 0.3);
    }

.bg-negro {
    background: #172D44 !important;
    border: 2px solid #fefefe !important;
    color: #fff;
}


.btn-login {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: transparent;
    color: #fefefe;
    border: 2px solid #fefefe;
}

    .btn-login:hover {
        background-color: #fefefe;
        color: #149b7e;
    }

/*-----------------Categorias---------------------------*/
.DivCategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #149b7e;
    margin: 10px 10px;
    position: relative;
    max-width: 240px;
    height: 325px;
    padding: 0px;
    color: #fefefe;
}

.Categoria {
    background-color: #282c34;
    box-sizing: border-box;
    padding: 15px 0 45px;
    margin: 0;
    height: 60px;
    width: 100%;
    order: 1;
    text-align: center;
}

ul.quick-list {
    width: auto;
    padding-left: 0;
    display: inline-block;
}

    ul.quick-list li a {
        color: #fefefe !important;
    }

.PrecioCategoria {
    font-size: 45px;
}
