body {
}

textarea:focus, input:focus {
    outline: none;
}

#menu_toggle {
    color: #fefefe;
    text-shadow: 1px 2px 1px rgba(42, 63, 64, 1);
}

    #menu_toggle:hover {
        color: #ddd;
    }

/*a {
    color: #fefefe;
}*/

.top_nav .nav .open > a, .top_nav .nav .open > a, .top_nav .nav .open > a, .top_nav .nav > li > a, .top_nav .nav > li > a {
    text-shadow: 1px 2px 1px rgba(42, 63, 64, 1);
    color: #fefefe !important;
}

    .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover, .top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover {
        background: rgba(42, 63, 64, 0.3);
    }

.bg-negro {
    background: #172D44 !important;
    border: 2px solid #fefefe !important;
    color: #fff;
}


.btn-login {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: transparent;
    color: #fefefe;
    border: 2px solid #fefefe;
}

    .btn-login:hover {
        background-color: #fefefe;
        color: #149b7e;
    }

/*-----------------Categorias---------------------------*/
.DivCategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #149b7e;
    margin: 10px 10px;
    position: relative;
    max-width: 240px;
    height: 325px;
    padding: 0px;
    color: #fefefe;
}

.Categoria {
    background-color: #282c34;
    box-sizing: border-box;
    padding: 15px 0 45px;
    margin: 0;
    height: 60px;
    width: 100%;
    order: 1;
    text-align: center;
}

ul.quick-list {
    width: auto;
    padding-left: 0;
    display: inline-block;
}

    ul.quick-list li a {
        color: #fefefe !important;
    }

.PrecioCategoria {
    font-size: 45px;
}



/*---------------------- consultar jugador--------------------*/
.DivVer {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    -webkit-transition: linear  0.5s, -webkit-transform 0.5s; /* Safari */
    /*transition: width 2s, height 2s, transform 2s;*/
    transition: linear  0.5s;
}

.ConsultaJugadores {
    -webkit-transition: linear 0.5s, -webkit-transform 0.5s; /* Safari */
    /*transition: width 2s, height 2s, transform 2s;*/
    transition: linear 0.5s;
}
/*-------------------------- Imagenes Dashboard ----------------------------*/
.media .profile_thumb {
    border: 1px solid;
    width: 50px;
    height: auto !important; 
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 0px 0px !important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: inherit;
}


/* -----------------------------Scrollbar--------------------------- */

body {
     overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 0.6em;
    max-height: 100px !important;
    overflow: auto;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(247,247,247,1);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9E9E9E;
    outline: 1px solid slategrey;
    height: 50px !important;
}


/*-----------------------------------------Drag and Drop------------------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  /*max-width: 1000px;*/
    margin: 20px -15px;
}

.drag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}
@media (max-width: 690px) {
    .flechaAbajo {
        display: block !important;
    }

    .flechaDerecha {
        display: none !important;
    }
}
.drag-column {
  -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0px 20px;
    position: relative;
    background: #ddd;
    overflow: hidden;
    padding: 0px;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0px;
    /* width: 95%; */
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column-on-hold .drag-column-header,
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
  background: #1ABB9C;
}
.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
  background: #1ABB9C;
}
.drag-column-needs-review .drag-column-header,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
  background: #1ABB9C;
}
.drag-column-approved .drag-column-header,
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
  background: #1ABB9C;
}

.drag-column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
    color: #fefefe;
    font-size: 20px;
}

.drag-inner-list {
  min-height: 50px;
}

.drag-item {
  margin: 10px;
    height: auto;
    background: #eee;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    color: #2A3F54;
    font-size: 1.07em;
    padding: 5px;
}
.drag-item.is-moving {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/* Demo info */


.section {
  padding: 20px;
  text-align: center;
}
.section a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.section h4 {
  font-weight: 400;
}
.section h4 a {
  font-weight: 600;
}
