body {
  font-family: Roboto;
}

.field {
  top: 10vh;
  left: 35vw;
  width: 40vw;
  height: 90vh;
  background: url(https://4.bp.blogspot.com/-JiJEc7lH1Is/UHJs3kn261I/AAAAAAAADYA/gQRAxHK2q_w/s1600/tileable_old_school_video_game_grass.jpg);
  background-size: 30%;
  position: absolute;
}
.field .field__box {
  width: 85%;
  height: 90%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  margin: 10px auto;
  position: relative;
}
.field .field__box .field__line {
  position: absolute;
  width: 100%;
  height: 2px;
}
.field .field__box .field__line--goal--top {
  width: 15%;
  height: 5%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-top: none;
  left: 42.5%;
}
.field .field__box .field__line--goal--bottom {
  bottom: 0;
  width: 15%;
  height: 5%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-bottom: none;
  margin: 0 42.5%;
}
.field .field__box .field__line--penalty--top {
  width: 35%;
  height: 10%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-top: none;
  margin: 0 32.5%;
}
.field .field__box .field__line--penalty--bottom {
  bottom: 0;
  width: 35%;
  height: 10%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-bottom: none;
  margin: 0 32.5%;
}
.field .field__box .field__line--penalty--arc--top {
  top: 0;
  width: 25%;
  height: 12%;
  border-radius: 0 0 60% 60%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 0 37.5%;
}
.field .field__box .field__line--penalty--arc--bottom {
  bottom: 0;
  width: 25%;
  height: 12%;
  border-radius: 60% 60% 0 0;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 0 37.5%;
}
.field .field__box .field__line--penalty--arc {
  top: 0;
  width: 25%;
  height: 12%;
  border-radius: 0 0 60% 60%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 0 37.5%;
}
.field .field__box .field__line--mid {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.field .field__box .field__line--circle {
  top: 44%;
  width: 20%;
  height: 12%;
  margin: auto;
  border-radius: 70%;
  border: solid 2px rgba(255, 255, 255, 0.8);
  left: 40%;
}
.field .player {
  position: absolute;
}
.field .player__item {
  width: 9%;
  height: 7%;
  background-color: #155117;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 30px #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.field .player__item--shirt {
  bottom: 25%;
  font-size: 1em;
  text-align: center;
  color: #ffffff;
}
.field .player__item--label {
  font-size: 0.7em;
  top: 75%;
  position: absolute;
  background-color: #ffffff;
  color: #155117;
  border-radius: 10%;
  padding: 5%;
}
.field .player__item--card {
  position: absolute;
  top: -300%;
  background-color: #ffffff;
  font-size: 0.7em;
  color: #155117;
  border-radius: 3%;
  box-shadow: 0 0 30px #000000;
  z-index: 2;
  display: none;
  flex-flow: column;
  /*&:after
   * content: ""
   * display: inline-block
   * //vertical-align: middle
   * width: 0 
   * height: 0 
   * border-left: 10px solid transparent
   * border-top: 10px solid blue 
   * border-right: 10px solid transparent */
}
.field .player__item--card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background-color: #155117;
  z-index: -1;
}
.field .player__item--card--name {
  color: #ffffff;
}
.field .player__item--card--photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.field .player__item--card--photo-bg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 50%;
}
.field .player__item--card--info {
  display: flex;
}
.field .player__item--card--info--column {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
.field .player__item--gk {
  bottom: 1%;
  left: 45%;
}
.field .player__item--two {
  bottom: 25%;
  right: 5%;
}
.field .player__item--three {
  bottom: 15%;
  right: 25%;
}
.field .player__item--four {
  bottom: 15%;
  left: 25%;
}
.field .player__item--five {
  bottom: 42%;
  right: 30%;
}
.field .player__item--six {
  bottom: 25%;
  left: 5%;
}
.field .player__item--seven {
  bottom: 42%;
  left: 30%;
}
.field .player__item--eight {
  top: 30%;
  left: 45%;
}
.field .player__item--nine {
  top: 15%;
  right: 5%;
}
.field .player__item--ten {
  top: 15%;
  left: 5%;
}
.field .player__item--eleven {
  top: 8%;
  left: 45%;
}

@media screen and (max-width: 992px) {
  .field {
    top: 10vh;
    left: 20vw;
    width: 60vw;
    height: 90vh;
  }
}

#employer-post-new-job .res-steps-container .res-steps {
    width: 25%;
    text-align: center;
    float: left;
    cursor: pointer
}

#employer-post-new-job .res-steps-container .res-steps .res-step-bar {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #0aa7e1;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    padding-top: 7px;
    font-size: 20px
}

#employer-post-new-job .res-steps-container .res-steps .res-progress-title {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    display: block
}

#employer-post-new-job .res-steps-container .res-steps .res-progress-bar {
    height: 5px;
    background: #0aa7e1;
    width: 50%;
    margin: -22px 0 0 50%;
    float: left
}

#employer-post-new-job .res-steps-container .res-step-two .res-progress-bar, #employer-post-new-job .res-steps-container .res-step-three .res-progress-bar, #employer-post-new-job .res-steps-container .res-step-four .res-progress-bar {
    width: 100%;
    margin-left: 0%
}

#employer-post-new-job .res-steps-container .res-step-four .res-progress-bar {
    width: 50%;
    margin-right: 50%
}

#employer-post-new-job .res-step-form {
    border: 1px solid #d2d2d2;
    box-shadow: 0px 6px 4px -2px silver;
    position: absolute
}

#employer-post-new-job .res-step-form h3 {
    margin: 10px 0;
    color: #0aa7e1;
    font-size: 18px
}

#employer-post-new-job .res-step-form .form-horizontal label {
    font-weight: normal
}

#employer-post-new-job .res-form-two, #employer-post-new-job .res-form-three, #employer-post-new-job .res-form-four {
    left: 150%
}

#employer-post-new-job .active .res-step-bar {
    background: #f19b20 !important
}

#employer-post-new-job .active .res-progress-title {
    color: #0aa7e1
}

.Validacion {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
}

.Error_Fecha_Invisible
{
    display:none;
}

.Error_Fecha_Visible
{
    display:block;
}

.label-danger-Validacion
{
    background-color:#CE5454;
}
