<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Football (Soccer) Field Drop and Drag CSS and JQuery UI - Palmeiras Team</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="field">

      <div class="player player__item player__item--eleven">
          <div class="player player__item--shirt">
              33
          </div>
          <div class="player player__item--label">
              Gabriel Jesus
          </div>
          <div class="player__item--card">
              <div class="player__item--card--name">
                  Gabriel Jesus
              </div>
              <div class="player__item--card--photo-bg">
                  <img src="https://pbs.twimg.com/profile_images/702104635633483777/nlEDoBfR.jpg" class="player__item--card--photo">
              </div>
              <div class="player__item--card--info">
                  <div class="player__item--card--info--column player__item--card--info--age">
                      <div class="player__item--card--info--column player__item--card--info--age--title">
                          Age
                      </div>
                      <div class="player__item--card--info--column player__item--card--info--age--data">
                          19
                      </div>
                  </div>
                  <div class="player__item--card--info--column player__item--card--info--country">
                      <div class="player__item--card--info--column player__item--card--info--country--title">
                          Country
                      </div>
                      <div class="player__item--card--info--column player__item--card--info--country--data">
                          Brazil
                      </div>
                  </div>
                  <div class="player__item--card--info--column player__item--card--info--club">
                      <div class="player__item--card--info--column player__item--card--info--club--title">
                          Club
                      </div>
                      <div class="player__item--card--info--column player__item--card--info--club-data">
                          Palmeiras
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <div class="field__box">
    <div class="field__line field__line--goal--top"></div>
    <div class="field__line field__line--goal--bottom"></div>
    <div class="field__line field__line--penalty--top"></div>
    <div class="field__line field__line--penalty--bottom"></div>
    <div class="field__line field__line--penalty--arc--top"></div>
    <div class="field__line field__line--penalty--arc--bottom"></div>
    <div class="field__line field__line--mid"></div>
    <div class="field__line field__line--circle"></div>


    <div class="player player__item player__item--ten">
      <div class="player player__item--shirt">
        7
      </div>
      <div class="player player__item--label">
          Dudu
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Dudu
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/55ac49c2d9ae816cb60473b12ff0fa2c_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              25
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="player player__item player__item--nine">
      <div class="player player__item--shirt">
        23
      </div>
      <div class="player player__item--label">
          Róger Guedes
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Róger Guedes
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/50ba5f59e410f0d4a635357cb29bcdb8_300x300.jpeg" class="player__item--card--photo">
        </div> 
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              20
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div> 
    </div>
    <div class="player player__item player__item--eight">
      <div class="player player__item--shirt">
        10
      </div>
      <div class="player player__item--label">
          Cleiton Xavier
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Cleiton Xavier
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/5cb6787323010c1ede0ce214b83bd2c9_300x300.png" class="player__item--card--photo">
        </div>
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              33
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div> 
    </div>
    <div class="player player__item player__item--seven">
      <div class="player player__item--shirt">
        28
      </div>
      <div class="player player__item--label">
          Moisés
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Moisés
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/3fe5f1275a99225b025f211e3c3b35e9_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              28
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div class="player player__item player__item--six">
      <div class="player player__item--shirt">
        11
      </div>
      <div class="player player__item--label">
          Zé Roberto
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Zé Roberto
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/ba32976a24a9a6f813303a9bcd016693_300x300.png" class="player__item--card--photo">
        </div>
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              42
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div class="player player__item player__item--five">
      <div class="player player__item--shirt">
        32
      </div>
      <div class="player player__item--label">
          Tchê Tchê
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Tchê Tchê
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/20/2b96e76d6b1e3f8fc29f37d9dfe90206_300x300.jpeg" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              24
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div class="player player__item player__item--four">
      <div class="player player__item--shirt">
        4
      </div>
      <div class="player player__item--label">
          Vitor Hugo
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Vitor Hugo
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/e68421691461665280e5183ea53281dd_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              30
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div class="player player__item player__item--three">
      <div class="player player__item--shirt">
        26
      </div>
      <div class="player player__item--label">
          Mina
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Mina
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/08/24/8834d1e7244c79dd88aeaeb987bf5cce_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              22
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Colombia
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div class="player player__item player__item--two">
      <div class="player player__item--shirt">
        17
      </div>
      <div class="player player__item--label">
          Jean
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Jean
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/35cbb038a295b3d40644676a8319a4fe_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              30
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="player player__item player__item--gk">
      <div class="player player__item--shirt">
        1
      </div>
      <div class="player player__item--label">
          Fernando Prass
      </div>
      <div class="player__item--card">
        <div class="player__item--card--name">
          Fernando Prass
        </div>
        <div class="player__item--card--photo-bg">
          <img src="http://s.glbimg.com/es/sde/f/2016/05/01/493488441bb751ad5dbdb042a318599f_300x300.png" class="player__item--card--photo">
        </div>  
        <div class="player__item--card--info">
          <div class="player__item--card--info--column player__item--card--info--age">
            <div class="player__item--card--info--column player__item--card--info--age--title">
              Age
            </div>
            <div class="player__item--card--info--column player__item--card--info--age--data">
              34
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--country">
            <div class="player__item--card--info--column player__item--card--info--country--title">
              Country
            </div>
            <div class="player__item--card--info--column player__item--card--info--country--data">
              Brazil
            </div>
          </div>
          <div class="player__item--card--info--column player__item--card--info--club">
            <div class="player__item--card--info--column player__item--card--info--club--title">
              Club
            </div>
            <div class="player__item--card--info--column player__item--card--info--club-data">
              Palmeiras
            </div>
          </div>  
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
